
/* div positions set to relative*/
/* float left*/
/* margins set*/
div {
	position: relative;
	float: left;
	margin-left: 50px;
}

/* cat div width and height set*/
/* background image of div set*/
/*background image size set with no repeats*/
/*background position set with left and top*/
/*animation id circle after 15s move fowards*/
.cat {
	width: 300px;
	height: 300px;
	background: url("images/cat.jpg");
	background-size: 300px;
	background-repeat: no-repeat;
	left: 500px;
	top: 200px;

   animation: circle 15s forwards;
} 

/* circle div width and height set*/
/* background image of div set*/
/*background image size set with no repeats*/
/*background position set with left and top*/
/*animation id circle after 15s move fowards*/
.circle {
	width: 150px;
	height: 150px;
	background: url("images/mouse.jpg");
	background-size: 150px;
	background-repeat: no-repeat;
	top: 300px;
	left: 450px;

    animation: circle 15s forwards;


}

/* cheese div width and height set*/
/* background image of div set*/
/*background image size set with no repeats*/
/*background position set with left and top*/
/*transition time 1s*/
.cheese {
	width: 50px;
	height: 50px;
	background: url("images/cheese.jpg");
	background-size: 50px;
	background-repeat: no-repeat;
	left: -300px;
	top: 365px;


   transition: transform 1s;

}

/* keyframe animation id circle*/
/* moves from start position 450 
px left to right -1000px*/
@keyframes circle {
    from {left: 450px;}
    to {left: -1000px;}
}

/* for class cheese, when hover move 
left 0px and down 200px*/
.cheese:hover { 
    
    transform: translate(0px, 150px);

}
